body {
    background-image: url("../imgs/spongebob.png");
    background-position:top;
    background-size: cover;
    height:100%;
    overflow: auto;
    font-family: 'Staatliches', Arial, Helvetica, sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

header {
    background-color: rgba(255, 127, 80, .6);
    border-radius: 10px;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 64px;
    font-weight: bold;
    -webkit-text-stroke: .1px rgb(81, 142, 255);
    color:rgb(255, 251, 0)
}

div {
    font-size: 48px;
    background-color: rgba(255, 245, 238, .9);
    border-radius: 10px;
    padding: 100px;
    margin: 100px;
}

button {
    font-size: 24px;
    font-family: 'Staatliches';
    background-color: rgb(255, 127, 80);
    margin-bottom: 5em;
}

footer {
    background-color: rgb(87, 255, 160)  ;
}