body {
    font-family: Arial, sans-serif;
    font-size: large;
    color: #25291C;
    background-color: #8EF5A0;
}
header {
    text-align:center;
    margin-bottom: 1em;
}

.heading {
    font-family: 'Oswald', Arial, sans-serif;
}

#bio img{
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5em;
    margin-right: 2em;
    height:25em;
}
#bio {
    display: flex;  
    background-color: #6DC0D5;
    border-radius: 50px;
}

#bio p {
    font-size: x-large;
    margin: auto;
    line-height: 1.6;
}

#projects {
    background-color: #a4c2e6;
    border-radius: 50px;
}

h2 {
    clear:left;
}

h2, h3 {
    text-align: center;
}

#intro {
    text-align: center;
    margin-bottom: 1em;
}

.projects {
    text-align: center;
    margin-bottom: 45px;
}

footer {
    margin-left: auto;
    margin-right: auto;
    background-color: #666BA3;
    border-radius: 50px;
}

a:link {
    color: #E6E49F;
    background-color: transparent;
    text-decoration: none;
}
  
a:visited {
    color: #8EF5A0;
    background-color: transparent;
    text-decoration: none;
}
  
a:hover {
    color: #B4DDCC;
    background-color: transparent;
    text-decoration: underline;
}
  
a:active {
    color: #6DC0D5;
    background-color: transparent;
    text-decoration: underline;
}

#valid {
    float: right;
    margin-right: 25px;
}